<mat-toolbar color="primary">
  <button mat-icon-button (click)="mydrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex:auto"></span>
  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Profile</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadEmployes">Load Employes</button>
    <button mat-menu-item routerLink="/admin/loadAbsences">Load Absences</button>
  </mat-menu>
  <button mat-button *ngIf="authservice.isAuthenticated">
    {{authservice.username}}
  </button>
  <button mat-raised-button color="accent" (click)="logout" >
    Logout
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #mydrawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>

      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/employes">
          <mat-icon>dashboard</mat-icon>
          Employe
        </button>

      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/absences">
          <mat-icon>dashboard</mat-icon>
          Absence
        </button>

      </mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height:600px ">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
